{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/teste.css">
</head>
<body>
    

<img src="{% static 'mcqueen.jpg' %}" alt="" srcset="">
<h1>cadastramento de aula</h1>
<hr>
<a href="{% url 'simulados' %}"> Simulado </a>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'login' %}"> Login </a>
<a href="{% url 'cadastro' %}"> Cadastro </a>
<a href="{% url 'verteste' %}"> TestandoDjango </a>

<hr>

<h2> Bem vindo! {{user}}</h2>

<form action="{% url 'cadastraraulas' %}" method="post">

    {% csrf_token %}

    <label for="nome">
        Nome da aula
    </label>
    <input type="text" name="aula">

    <label for="subtitulo">
        Subtitulo da aula
    </label>
    <input type="text" name="subtitulo">
    <input type="submit">
</form>

<h2>Lista de aulas cadastradas</h2>

{% for aula in aulas %}

<br>
<div style="border: 1px solid">
    <p>Nome da aula: {{aula.nome}} </p>
    <p>Subtitulo da aula: {{aula.subtitulo}} </p>
    <a href="{% url 'editaraula' aula.id %}">Editar</a> <a href="{% url 'apagaraula' idaula=aula.id %}">Apagar</a>
</div>
<br>

{% endfor %}

<hr>
<h2>Mensagens dos usuários</h2>
<hr>

<section>
<form action="">

<label for="mensagem">Envie sua mensagem</label>
<input type="text" placeholder="Escreva sua mensagem">
<input type="submit" value="Enviar">


</form>
</section>

<div style="border: 1px solid">
    <p>Data de envio: Hoje</p>
    <p>Nome do usuário: João </p>
    <p>Mensagem do usuaário: Bom dia, galera!</p>
</div>
</body>
</html>
