<h1>{{ simulado.nome }} {{ simulado.ano }}</h1>

<form method="post">
    {% csrf_token %}
    {% for questao in questoes %}
    <div class="form-group">
        <p>Número da questão: {{questao.numero_questao}}</p>
        <p>{{ questao.enunciado }}</p>
    </div>
    <div class="form-group">
        <input type="radio" id="alternativa_a_{{ questao.id }}" name="resposta_{{ questao.id }}" value="A">
        <label for="alternativa_a_{{ questao.id }}">A | {{ questao.alternativa_a }}</label>
    </div>
    <div class="form-group">
        <input type="radio" id="alternativa_b_{{ questao.id }}" name="resposta_{{ questao.id }}" value="B">
        <label for="alternativa_b_{{ questao.id }}">B | {{ questao.alternativa_b }}</label>
    </div>
    <div class="form-group">
        <input type="radio" id="alternativa_c_{{ questao.id }}" name="resposta_{{ questao.id }}" value="C">
        <label for="alternativa_c_{{ questao.id }}">C | {{ questao.alternativa_c }}</label>
    </div>
    <div class="form-group">
        <input type="radio" id="alternativa_d_{{ questao.id }}" name="resposta_{{ questao.id }}" value="D">
        <label for="alternativa_d_{{ questao.id }}">D | {{ questao.alternativa_d }}</label>
    </div>
    <hr>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
